html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, [type=button], [type=submit], [type=reset] {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    clear: both;
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
/*Add your css into here*/
.fl_left {
    float: left;
}

.fl_right {
    float: right;
}

.margin_left10 {
    margin-left: 10px !important;
}
.margin_left30 {
    margin-left: 30px !important;
}

.margin_top0 {
    margin-top: 0px !important;
}

.margin_top5 {
    margin-top: 5px !important;
}

.margin_top10 {
    margin-top: 10px !important;
}

.margin_top15 {
    margin-top: 15px !important;
}

.margin_top20 {
    margin-top: 20px !important;
}

.margin_top30 {
    margin-top: 30px !important;
}

.clear5 {
    clear: both;
    height: 5px;
}

.clear10 {
    clear: both;
    height: 10px;
}

.clear20 {
    clear: both;
    height: 20px;
}
.size-15 {
    font-size:15px!important;
}
.size-17 {
    font-size:17px!important;
}
.size-21 {
    font-size:21px!important;
}
.size-x-large {
    font-size:x-large!important;
}


a, [type=button], [type=submit], [type=reset] {
    cursor: pointer;
}



